<footer style="height: 30px; position: absolute; bottom:0; width: 100%" class="bg-primary footer"> 
    <p class="text-warning text-center pb-0"> This blog is bought to you by Siddharth Girdhar</p>  
   
</footer>
</body>

</html>